API_PORT=18091
CONTAINER_PORT=8091

BASE_DIR=/opt/pi-receiver
SHARED_DIR=/opt/pi-receiver/shared
HOST_DIR=/opt/pi-receiver/host

STATE_FILE=/opt/pi-receiver/shared/state.json
RELOAD_TOKEN_FILE=/opt/pi-receiver/shared/reload.token
ENV_FILE=/opt/pi-receiver/receiver.env

HOST_BLANK_URL=file:///opt/pi-receiver/host/blank.html
DEFAULT_URL=file:///opt/pi-receiver/host/blank.html

KIOSK_USER=maxi
DISPLAY_NUM=:0
XAUTHORITY_PATH=/home/maxi/.Xauthority
ENABLE_KIOSK=1
KIOSK_POLL_SECONDS=2
CHROMIUM_BIN=auto
